html * {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.hidden {
    display: none;
}

.image_div, .image, .description {
    width: 100%;
}

#content {
    margin: auto;
    width: 70%;
}

#gallery_title_box {
    width: 40%;
    margin-left: 0;
    margin-right: auto;
}

#dropzone {
    border: 2px solid red;
    width: 100%;
    margin: auto 0;
    text-align: center;
}

#inner_dropzone {
    padding: 10px 25px 25px 25px;
}

.shaded {
    background-color: rgba(0, 0, 0, 0.1);
}

#spinner {
  -webkit-animation: spin 1s infinite linear;
  display: inline-block;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

#title {
    position: relative;
    min-height: 30px;
    width: 100%;
}
#title.h2 {
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
}
#date {
    position: absolute;
    bottom: 5;
    right: 0;
}

.image_div {
    position: relative;
}
.description2 {
    float: left;
    width: calc(100% - 40px);;
}
.link {
    width: 40px;
    text-align: right;
    position: absolute;
    bottom: 5;
    right: 0;
}
